In [1]:
pip install html-table-parser-python3

Collecting html-table-parser-python3Note: you may need to restart the kernel to use updated packages.

  Downloading html_table_parser_python3-0.3.1-py3-none-any.whl.metadata (2.3 kB)
Downloading html_table_parser_python3-0.3.1-py3-none-any.whl (15 kB)
Installing collected packages: html-table-parser-python3
Successfully installed html-table-parser-python3-0.3.1

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Library for opening url and creating 
# requests
import urllib.request

# pretty-print python data structures
from pprint import pprint

# for parsing all the tables present 
# on the website
from html_table_parser.parser import HTMLTableParser

# for converting the parsed data in a
# pandas dataframe
import pandas as pd

C:\Users\DELL\AppData\Local\Temp\ipykernel_8204\1521808924.py:14: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Opens a website and read its
# binary contents (HTTP Response Body)
def url_get_contents(url):

    # Opens a website and read its
    # binary contents (HTTP Response Body)

    #making request to the website
    req = urllib.request.Request(url=url)
    f = urllib.request.urlopen(req)

    #reading contents of the website
    return f.read()

In [13]:
# defining the html contents of a URL.
xhtml = url_get_contents('https://www.espncricinfo.com/records/season/team-match-results/2022to23-2022to23?trophy=89').decode('utf-8')

# Defining the HTMLTableParser object
p = HTMLTableParser()

# feeding the html contents in the
# HTMLTableParser object
p.feed(xhtml)

# Now finally obtaining the data of
# the table required
pprint(p.tables[0][0])
pprint(p.tables[0][1:])

['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date', 'Scorecard']
[['England',
  'Pakistan',
  'England',
  '5 wickets',
  'Melbourne',
  'Nov 13, 2022',
  'T20I # 1879'],
 ['England',
  'India',
  'England',
  '10 wickets',
  'Adelaide',
  'Nov 10, 2022',
  'T20I # 1878'],
 ['New Zealand',
  'Pakistan',
  'Pakistan',
  '7 wickets',
  'Sydney',
  'Nov 9, 2022',
  'T20I # 1877'],
 ['India',
  'Zimbabwe',
  'India',
  '71 runs',
  'Melbourne',
  'Nov 6, 2022',
  'T20I # 1873'],
 ['Bangladesh',
  'Pakistan',
  'Pakistan',
  '5 wickets',
  'Adelaide',
  'Nov 6, 2022',
  'T20I # 1872'],
 ['Netherlands',
  'South Africa',
  'Netherlands',
  '13 runs',
  'Adelaide',
  'Nov 6, 2022',
  'T20I # 1871'],
 ['England',
  'Sri Lanka',
  'England',
  '4 wickets',
  'Sydney',
  'Nov 5, 2022',
  'T20I # 1867'],
 ['Australia',
  'Afghanistan',
  'Australia',
  '4 runs',
  'Adelaide',
  'Nov 4, 2022',
  'T20I # 1864'],
 ['Ireland',
  'New Zealand',
  'New Zealand',
  '35 runs',
  'Adelaide',
  'Nov 4, 2022',
  'T20I # 1862'],
 ['Pakistan',
  'South Africa',
  'Pakistan',
  '33 runs',
  'Sydney',
  'Nov 3, 2022',
  'T20I # 1861'],
 ['Bangladesh',
  'India',
  'India',
  '5 runs',
  'Adelaide',
  'Nov 2, 2022',
  'T20I # 1860'],
 ['Netherlands',
  'Zimbabwe',
  'Netherlands',
  '5 wickets',
  'Adelaide',
  'Nov 2, 2022',
  'T20I # 1859'],
 ['England',
  'New Zealand',
  'England',
  '20 runs',
  'Brisbane',
  'Nov 1, 2022',
  'T20I # 1858'],
 ['Afghanistan',
  'Sri Lanka',
  'Sri Lanka',
  '6 wickets',
  'Brisbane',
  'Nov 1, 2022',
  'T20I # 1856'],
 ['Australia',
  'Ireland',
  'Australia',
  '42 runs',
  'Brisbane',
  'Oct 31, 2022',
  'T20I # 1855'],
 ['India',
  'South Africa',
  'South Africa',
  '5 wickets',
  'Perth',
  'Oct 30, 2022',
  'T20I # 1853'],
 ['Netherlands',
  'Pakistan',
  'Pakistan',
  '6 wickets',
  'Perth',
  'Oct 30, 2022',
  'T20I # 1852'],
 ['Bangladesh',
  'Zimbabwe',
  'Bangladesh',
  '3 runs',
  'Brisbane',
  'Oct 30, 2022',
  'T20I # 1851'],
 ['New Zealand',
  'Sri Lanka',
  'New Zealand',
  '65 runs',
  'Sydney',
  'Oct 29, 2022',
  'T20I # 1850'],
 ['Pakistan',
  'Zimbabwe',
  'Zimbabwe',
  '1 run',
  'Perth',
  'Oct 27, 2022',
  'T20I # 1849'],
 ['India',
  'Netherlands',
  'India',
  '56 runs',
  'Sydney',
  'Oct 27, 2022',
  'T20I # 1848'],
 ['Bangladesh',
  'South Africa',
  'South Africa',
  '104 runs',
  'Sydney',
  'Oct 27, 2022',
  'T20I # 1847'],
 ['England',
  'Ireland',
  'Ireland',
  '5 runs',
  'Melbourne',
  'Oct 26, 2022',
  'T20I # 1846'],
 ['Australia',
  'Sri Lanka',
  'Australia',
  '7 wickets',
  'Perth',
  'Oct 25, 2022',
  'T20I # 1845'],
 ['South Africa',
  'Zimbabwe',
  'no result',
  '-',
  'Hobart',
  'Oct 24, 2022',
  'T20I # 1844'],
 ['Bangladesh',
  'Netherlands',
  'Bangladesh',
  '9 runs',
  'Hobart',
  'Oct 24, 2022',
  'T20I # 1843'],
 ['India',
  'Pakistan',
  'India',
  '4 wickets',
  'Melbourne',
  'Oct 23, 2022',
  'T20I # 1842'],
 ['Ireland',
  'Sri Lanka',
  'Sri Lanka',
  '9 wickets',
  'Hobart',
  'Oct 23, 2022',
  'T20I # 1841'],
 ['Afghanistan',
  'England',
  'England',
  '5 wickets',
  'Perth',
  'Oct 22, 2022',
  'T20I # 1840'],
 ['Australia',
  'New Zealand',
  'New Zealand',
  '89 runs',
  'Sydney',
  'Oct 22, 2022',
  'T20I # 1839'],
 ['Scotland',
  'Zimbabwe',
  'Zimbabwe',
  '5 wickets',
  'Hobart',
  'Oct 21, 2022',
  'T20I # 1838'],
 ['Ireland',
  'West Indies',
  'Ireland',
  '9 wickets',
  'Hobart',
  'Oct 21, 2022',
  'T20I # 1837'],
 ['Namibia',
  'U.A.E.',
  'U.A.E.',
  '7 runs',
  'Geelong',
  'Oct 20, 2022',
  'T20I # 1836'],
 ['Netherlands',
  'Sri Lanka',
  'Sri Lanka',
  '16 runs',
  'Geelong',
  'Oct 20, 2022',
  'T20I # 1835'],
 ['West Indies',
  'Zimbabwe',
  'West Indies',
  '31 runs',
  'Hobart',
  'Oct 19, 2022',
  'T20I # 1834'],
 ['Ireland',
  'Scotland',
  'Ireland',
  '6 wickets',
  'Hobart',
  'Oct 19, 2022',
  'T20I # 1833'],
 ['Sri Lanka',
  'U.A.E.',
  'Sri Lanka',
  '79 runs',
  'Geelong',
  'Oct 18, 2022',
  'T20I # 1832'],
 ['Namibia',
  'Netherlands',
  'Netherlands',
  '5 wickets',
  'Geelong',
  'Oct 18, 2022',
  'T20I # 1830'],
 ['Ireland',
  'Zimbabwe',
  'Zimbabwe',
  '31 runs',
  'Hobart',
  'Oct 17, 2022',
  'T20I # 1828'],
 ['Scotland',
  'West Indies',
  'Scotland',
  '42 runs',
  'Hobart',
  'Oct 17, 2022',
  'T20I # 1826'],
 ['Netherlands',
  'U.A.E.',
  'Netherlands',
  '3 wickets',
  'Geelong',
  'Oct 16, 2022',
  'T20I # 1825'],
 ['Namibia',
  'Sri Lanka',
  'Namibia',
  '55 runs',
  'Geelong',
  'Oct 16, 2022',
  'T20I # 1823']]

In [17]:
col_name = p.tables[0][0]
col_name

['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date', 'Scorecard']

In [19]:
# converting the parsed data to
# dataframe
print("\n\nPANDAS DATAFRAME\n")
df = pd.DataFrame(p.tables[0][1:],columns=col_name)
df.head()

PANDAS DATAFRAME

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872

In [20]:
df.to_csv('MatchResults.csv',index=False)